WS Client/TestWebService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.video2brain.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TestWebServiceService" targetNamespace="http://services.video2brain.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.video2brain.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.video2brain.de/">
  <xs:element name="doSomethingVeryLongLast" type="tns:doSomethingVeryLongLast"></xs:element>
  <xs:element name="doSomethingVeryLongLastResponse" type="tns:doSomethingVeryLongLastResponse"></xs:element>
  <xs:element name="sayHello" type="tns:sayHello"></xs:element>
  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"></xs:element>
  <xs:complexType name="doSomethingVeryLongLast">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doSomethingVeryLongLastResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterruptedException" type="tns:InterruptedException"></xs:element>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="doSomethingVeryLongLast">
    <wsdl:part element="tns:doSomethingVeryLongLast" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InterruptedException">
    <wsdl:part element="tns:InterruptedException" name="InterruptedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doSomethingVeryLongLastResponse">
    <wsdl:part element="tns:doSomethingVeryLongLastResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestWebService">
    <wsdl:operation name="doSomethingVeryLongLast">
      <wsdl:input message="tns:doSomethingVeryLongLast" name="doSomethingVeryLongLast">
    </wsdl:input>
      <wsdl:output message="tns:doSomethingVeryLongLastResponse" name="doSomethingVeryLongLastResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InterruptedException" name="InterruptedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServiceServiceSoapBinding" type="tns:TestWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="doSomethingVeryLongLast">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="doSomethingVeryLongLast">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="doSomethingVeryLongLastResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sayHello">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebServiceService">
    <wsdl:port binding="tns:TestWebServiceServiceSoapBinding" name="TestWebServicePort">
      <soap:address location="http://localhost:8080/WS_ServerWeb/TestWebService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>